<div class="shopping-cart">
    <div class="container-fluid" (scroll)="onScroll()">
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-lg-5 products">
                <div class="title">
                    MY BAG
                </div>
                <hr>
                <div class="product row">
                    <div class="product-img-container col-xs-3 col-sm-3 col-lg-3">
                        <img class="product-img" src="https://images.asos-media.com/products/adidas-running-1-4-zip-top-in-black-and-grey/21288082-1-black?$n_750w$&wid=714&fit=constrain">
                    </div>
                    <div class="details col-xs-9 col-sm-9 col-lg-9">
                        <div class="price spacing">50$</div>
                        <div class="description spacing">Motel milk maid crop top with ruched bust in sand leopard Motel milk maid crop top with ruched bust in sand leopard</div>
                        <div class="edit-container spacing">
                            <mat-select class="product-size">
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                            <mat-select class="product-size">
                                <mat-option value="option1">1</mat-option>
                                <mat-option value="option2">2</mat-option>
                                <mat-option value="option3">3</mat-option>
                                <mat-option value="option2">4</mat-option>
                                <mat-option value="option3">5</mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="product row">
                    <div class="product-img-container col-xs-3 col-sm-3 col-lg-3">
                        <img class="product-img" src="https://images.asos-media.com/products/adidas-running-1-4-zip-top-in-black-and-grey/21288082-1-black?$n_750w$&wid=714&fit=constrain">
                    </div>
                    <div class="details col-xs-9 col-sm-9 col-lg-9">
                        <div class="price spacing">50$</div>
                        <div class="description spacing">Motel milk maid crop top with ruched bust in sand leopard Motel milk maid crop top with ruched bust in sand leopard</div>
                        <div class="edit-container spacing">
                            <mat-select class="product-size">
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                            <mat-select class="product-size">
                                <mat-option value="option1">1</mat-option>
                                <mat-option value="option2">2</mat-option>
                                <mat-option value="option3">3</mat-option>
                                <mat-option value="option2">4</mat-option>
                                <mat-option value="option3">5</mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-3">
                <div class="fixed col-xs-12 col-sm-4 col-lg-3 total">
                    <div class="title">
                        TOTAL
                    </div>
                    <hr>
                    <div class="row  cart-total-title">
                        <div class=" col-xs-9 col-sm-9 col-lg-9">
                            Sub-total
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-3">
                            50$
                        </div>
                    </div> 
                    <div class="row  cart-total-title">
                        <div class="col-xs-9 col-sm-9 col-lg-9">
                            Quantity of products
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-3">
                            1
                        </div>
                    </div> 
                    <button type="button" class="btn btn-success checkout-button">Checkout</button>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-lg-2"></div>
        </div>
    </div>
</div>