.shopping-cart{
    background-color: #eee;
    position: relative;
    width: 100%;
    min-height: 700px;
    overflow: auto;
}

.products{
    min-height: 140px;
    background-color: white;
    position: relative;
    margin: 10px;
}

.title{
    padding: 26px 30px 16px;
    font-size: 1.15em;
    font-family: futura-pt-n7,futura-pt,"Futura PT","Futura Book",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 2em;
}

.product{
    padding-top: 20px;
    position: relative;
    min-height: 190px;
}

.total{
    background-color: white;
    margin-top: 10px;
}

.cart-total-title{
    font-family: futura-pt-n7,futura-pt,"Futura PT","Futura Book",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
    margin-left: 2px;
}

.checkout-button-container {
    padding-bottom: 3%;
    padding-top: 3%;
    margin-left: 5%;
}

.checkout-button{
    width: 86%;
    height: 44px;
}

.fixed{
    position: fixed;
}

.payments-image {
    width: 190px;
    display: block;
}

.text-container {
    position: relative;
    text-align: center;
    padding: 20%;
}

.bag {
    font-size: 25px;
}