.shopping-cart{
    background-color: #eee;
    position: relative;
    width: 100%;
    height: 708px;
    overflow: auto;
}

.products{
    min-height: 140px;
    background-color: white;
    position: relative;
    margin: 10px;
}

.title{
    padding: 26px 30px 16px;
    font-size: 1.15em;
    font-family: futura-pt-n7,futura-pt,"Futura PT","Futura Book",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 2em;
}

.product{
    padding-top: 20px;
    position: relative;
    min-height: 140px;
}

.product-img-container{
    height: 140px;
    width: 110px;
}

.product-img{
    height: 140px;
    width: 110px;
}

.details{
    margin-left: 25px;
}

.description{
    letter-spacing: .3px;
    font-family: futura-pt-n7,futura-pt,"Futura PT","Futura Book",Tahoma,Geneva,Verdana,Arial,sans-serif;
}

.price{
    font-size: 1.15em;
    font-family: futura-pt-n7,futura-pt,"Futura PT","Futura Book",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.product-size{
    width: 17%;
}

.product-quantity{
    width: 7%;
}

.spacing{
    margin: 15px;
}

.edit-container{
    display: flex;
    flex-direction: row;
}

.total{
    background-color: white;
    margin-top: 10px;
}

.cart-total-title{
    font-family: futura-pt-n7,futura-pt,"Futura PT","Futura Book",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 10px;
}

.checkout-button{
    width: 66%;
    margin: 49px;
    height: 44px;
}

.fixed{
    position: fixed;
}