.page-container {
    overflow: hidden;
}

.categories-container {
    position: absolute;
    top: calc(50% - 90px);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.category {
}

.category-image {
    // height: 300px;
    // width: 220px;
}

.text-container {
    background-color: white;
    color: black;
    text-align: center;
}