.page-container {
    overflow: hidden;
}

.background {
    height: 715px;
}

.categories-container {
    position: absolute;
    top: calc(50% - 90px);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.category {
    cursor: pointer;
    transition: 0.3s;
}

.category:hover {
    transform: scale(1.2);
}