.row {
    margin-right: 0 !important;
}

.product-img{
    width: 90px;
    height: 125px;
}

.details > div {
    margin: 2%;
}

.product-name {
    font-weight: 300;
    font-size: 13px;
}

.bold {
    font-family: futura-pt-n7,futura-pt,"Futura PT","Futura Book",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
}