<div>
  <mat-toolbar color="primary" id="toolbar">
    <div fxShow.lt-md="true" fxHide="true" class="hamburger">
      <a href="#" (click)="sidenav.toggle()"><i class="fas fa-bars hamburger-icon"></i></a>
    </div>
    <a class="site-name" routerLink="/" mat-button>Sport Star</a>
    <div class="categories" fxShow="true" fxHide.lt-md="true">
      <a class="category" routerLink="/men" mat-button>Men</a>
      <a class="category" routerLink="/women" mat-button>Women</a>
    </div>
    <div class="shopping-bag-container">
      <a class="shopping-bag" routerLink="/shopping-bag" mat-button>
        <i class="fas fa-shopping-bag"></i>
      </a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a class="sidenav-category" routerLink="/men" mat-button>Men</a>
        <a class="sidenav-category" routerLink="/women" mat-button>Women</a>
      </div>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>