<div>
  <mat-toolbar color="primary">
    <div fxShow.lt-md="true" fxHide="true" class="toolbar">
      <a href="#" (click)="sidenav.toggle()"><i class="fas fa-bars toolbar-icon"></i></a>
    </div>
    <span class="site-name">Sport Star</span>

    <span class="example-spacer"></span>

    <div class="categories" fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a class="category" href="#" mat-button>Men</a>
      <a class="category" href="#" mat-button>Women</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a class="sidenav-category" href="#" mat-button>Men</a>
        <a class="sidenav-category" href="#" mat-button>Women</a>
      </div>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>