.navigation {
    margin-top: 1%;
    margin-bottom: 1%;
}

.navigation > * {
    margin-right: 2%;
}

.line {
    margin-top: 0;
}

.product-container {
    display: flex;
}

.product-image {
    height: 500px;
    width: 400px;
    margin-left: 20%;
}

.product-details {
    margin-left: 3%;
    width: 25%
}

.product-name-container {
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1.3px;
}

.product-price-container {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 10%;
}

.product-color-container {
    font-size: 17px;
    letter-spacing: 1px;
    padding-bottom: 10%;
}

.size-select {
    width: 100%;
}

.size-text {
    font-weight: 800;
    display: block;
}

.add-item-button {
    font-family: "futura-pt-n7", "futura-pt", Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 700;
    background-color: #018849;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    color: white;
    border: none;
    height: 35px;
}

.add-item-button:hover {
    background-color: #018849cb
}

.button-disabled {
    background-color: gainsboro;
    cursor: auto;
}

.button-disabled:hover {
    background-color: gainsboro;
}