.container-fluid {
    padding-left: 2%;
    padding-right: 2%;
}

.navigation {
    margin-top: 1%;
    margin-bottom: 1%;
}

.navigation > * {
    margin-right: 2%;
}

.line {
    margin-top: 0;
}

.search-container {
    background-color: #eee;
    margin-bottom: 2%;
    text-align: center;
}

.close-button {
    font-size: 10px;
    position: relative;
    right: 4%;
    cursor: pointer;
}

.slider-container {
    position: relative;
    top: 12px;
}

.price-slider {
    position: relative;
    bottom: 21px;
}

.product {
    text-align: center;
    margin-bottom: 5%;
    cursor: pointer;
}