<div class="container-fluid" (scroll)="onScroll()">
    <div class="navigation">
        <a style="color: black;" routerLink="/">Home</a>
        <span style="font-size: 12px;" aria-hidden="true">></span>
        <a style="color: black;" routerLink="/{{gender}}">{{gender}}</a>
        <span style="font-size: 12px;" aria-hidden="true">></span>
        <span style="color: #999;">{{categoryTitle}}</span>
    </div>
    <!-- <hr class="line"> -->
    <div id="search-container" class="row search-container">
        <div class="col-sm-4 col-md-4 col-lg-4 search-field">
            <i *ngIf="filteredBrands?.length" class="fas fa-times close-button"
                (click)="filteredBrands=[]; filter()"></i>
            <mat-form-field>
                <mat-label>Brand</mat-label>
                <mat-select [(value)]="filteredBrands" multiple
                    (valueChange)="filter()">
                    <mat-option *ngFor="let brand of brands$ | async" value="{{brand}}">{{brand}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 search-field">
            <i *ngIf="filteredSizes?.length" class="fas fa-times close-button"
                (click)="filteredSizes=[]; filter()"></i>
            <mat-form-field>
                <mat-label>Size</mat-label>
                <mat-select [(value)]="filteredSizes" multiple (valueChange)="filter()">
                    <mat-option *ngFor="let size of sizes$ | async" value="{{size}}">{{size}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 search-field">
            <button class="price-button" *ngIf="!isSlider" mat-raised-button (click)="isSlider=true">Price
                Range</button>
            <i *ngIf="isSlider" class="fas fa-times close-button" (click)="resetSlider()"></i>
            <ngx-slider *ngIf="isSlider" class="price-slider" [(value)]="minPrice" [(highValue)]="maxPrice"
                [options]="options" (userChangeEnd)="filter()">
            </ngx-slider>
        </div>
    </div>

    <div class="row">
        <product class="col-xs-6 col-sm-4 col-lg-3 product" *ngFor="let product of products$ | async"
            (click)="productClicked(product)" [product]="product"></product>
    </div>
</div>