<div class="container-fluid" (scroll)="onScroll()">
    <div class="navigation">
        <a style="color: black;" routerLink="/">Home</a>
        <span style="font-size: 12px;" aria-hidden="true">></span>
        <a style="color: black;" routerLink="/{{gender}}">{{gender}}</a>
        <span style="font-size: 12px;" aria-hidden="true">></span>
        <span style="color: #999;">{{category}}</span>
    </div>
    <hr class="line">
    <div class="row">
        <product class="col-xs-6 col-sm-4 col-lg-3 product" *ngFor="let product of products" 
            (click)="productClicked(product.name)"
            [imageUrl]="product.imageUrl" [name]="product.name" [price]="product.price"></product>
    </div>
</div>