<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-3 product">
            <img class="product-image"
                src="https://images.asos-media.com/products/adidas-running-1-4-zip-top-in-black-and-grey/21288082-1-black?$n_750w$&wid=714&fit=constrain">
            <div class="product-description">
                <p>adidas Originals Handball Spezial trainers in blue with gum sole</p>
            </div>
            <div class="product-price">
                <span>ILS315.00</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3 product">
            <img class="product-image"
                src="https://images.asos-media.com/products/adidas-running-1-4-zip-top-in-black-and-grey/21288082-1-black?$n_750w$&wid=714&fit=constrain">
            <div class="product-description">
                <p>adidas Originals Handball Spezial trainers in blue with gum sole</p>
            </div>
            <div class="product-price">
                <span>ILS315.00</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3 product">
            <img class="product-image"
                src="https://images.asos-media.com/products/adidas-running-1-4-zip-top-in-black-and-grey/21288082-1-black?$n_750w$&wid=714&fit=constrain">
            <div class="product-description">
                <p>adidas Originals Handball Spezial trainers in blue with gum sole</p>
            </div>
            <div class="product-price">
                <span>ILS315.00</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3 product">
            <img class="product-image"
                src="https://images.asos-media.com/products/adidas-running-1-4-zip-top-in-black-and-grey/21288082-1-black?$n_750w$&wid=714&fit=constrain">
            <div class="product-description">
                <p>adidas Originals Handball Spezial trainers in blue with gum sole</p>
            </div>
            <div class="product-price">
                <span>ILS315.00</span>
            </div>
        </div>
    </div>
</div>