.navigation {
    margin-top: 1%;
    margin-bottom: 1%;
}

.navigation > * {
    margin-right: 2%;
}

.line {
    margin-top: 0;
}

.product {
    text-align: center;
    margin-bottom: 5%;
    cursor: pointer;
}